.navbar-con {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-con ul {
    list-style: none;
}

.navbar-con ul li a {
    text-decoration: none;
    color: #FFF;
}

.navbar-logo-con h1 {
    font-size: 36px;
}

.navbar-links-con ul {
    display: flex;
    flex-direction: row;
}

.navbar-links-con ul li a {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.navbar-links-con ul li a:hover {
    color: #0099ff;
    transform: scale(1.1);
}

.navbar-links-con ul li a div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 0;
}

.navbar-links-con-link_text {
    margin: 0 10px;
}

.navbar-socials-links-con ul {
    display: flex;
    flex-direction: row;
}

.navbar-socials-links-con ul li a {
    margin: 0 10px;
    padding: 0 5px;
    font-weight: 500;
    /* color: #0099ff; */
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.navbar-socials-links-con ul li a:hover {
    color: #0099ff;
    transform: scale(1.1);
}

.navbar-connectwm-button-con button {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: 500;
    background: #262626;
    border: 2px solid #0099ff;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}

.navbar-connectwm-button-con button:hover {
    background: #262626;
    color: #0099ff;
    border: 2px solid #262626;
    transform: scale(1.1);
}